#container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    height: 40px;
    margin-left: 23px;
}

.row {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-bottom: 5px;
    height: 55px;
    align-items: center;
}

.area {
    width: 125px;
    font-weight: bold;
}

.time {}

#slider {
    margin-top: 10px;
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
}

.center {
    justify-content: center;
}

#womby {
    max-width: 100%;
}